n8n/workflows/Monitoring.generic-ecommerce.json
{
  "name": "Monitoring - Generic Ecommerce",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "305c170c-f6a0-4f30-b685-d79339f96d31",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://analyticsadmin.googleapis.com/v1beta/accountSummaries",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAnalyticsOAuth2",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "151d5067-8166-467d-a197-7e8f41eb3ce1",
      "name": "HTTP Request",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "D6XutmOM59kZ1fXk",
          "name": "Google Analytics account"
        }
      }
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.propertyId }}"
        },
        "dateRange": "custom",
        "startDate": "2026-03-01T00:00:00",
        "endDate": "=2026-04-29T00:00:00",
        "metricsGA4": {
          "metricValues": [
            {
              "listName": "sessions"
            }
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {}
          ]
        },
        "limit": 1000,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        1040,
        -288
      ],
      "id": "d88af27a-f4a4-4495-ab8e-2771c196d1d8",
      "name": "Get a report",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "D6XutmOM59kZ1fXk",
          "name": "Google Analytics account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// 1. Loop 노드에서 ID와 이름을 모두 참조\nconst propertyId = $('Loop Over Items').item.json.propertyId;\nconst propertyName = $('Loop Over Items').item.json.propertyName; // 이 줄을 추가합니다.\n\n// 2. 데이터 가공 (기존 로직 유지)\nconst historyData = items\n  .map(item => ({\n    date: [\n      item.json.date.slice(0, 4),\n      item.json.date.slice(4, 6),\n      item.json.date.slice(6, 8)\n    ].join('-'),\n    sessions: parseFloat(item.json.sessions)\n  }))\n  .sort((a, b) => a.date.localeCompare(b.date));\n\nconst targetDate = historyData[historyData.length - 1].date;\n\n// 3. property_name을 포함하여 리턴 (API 규격 준수)\nreturn [{\n  json: {\n    property_id: propertyId,\n    property_name: propertyName, // 필드 추가\n    target_date: targetDate,\n    history_data: historyData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -288
      ],
      "id": "76f14c87-83a0-4d39-abb5-64dba09c6694",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        832,
        0
      ],
      "id": "5c15d411-5ec5-47f3-97ac-5819dadd0af1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://34.172.65.42:8000/api/v1/analyze/batch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1440,
        0
      ],
      "id": "60120cf4-0544-4c6b-9a31-9ac2b31080a8",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://34.172.65.42:8000/api/v1/reset",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "a40568cf-7e14-4b3d-b0cf-b706c84b5073",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "content": "Dashboard : http://34.172.65.42:8501/",
        "height": 208,
        "width": 326
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        320
      ],
      "typeVersion": 1,
      "id": "949873cd-250d-4430-9583-65dc836c54a6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://analyticsdata.googleapis.com/v1beta/properties/{{ $json.propertyId }}:batchRunReports",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAnalyticsOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"requests\": [\n    {\n      \"dimensions\": [\n        { \"name\": \"date\" }\n      ],\n      \"metrics\": [\n        { \"name\": \"sessions\" }\n      ],\n      \"dateRanges\": [\n        { \"startDate\": \"90daysAgo\", \"endDate\": \"yesterday\" }\n      ],\n      \"orderBys\": [\n        {\n          \"dimension\": {\n            \"dimensionName\": \"date\"\n          },\n          \"desc\": false\n        }\n      ],\n      \"keepEmptyRows\": true\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1056,
        0
      ],
      "id": "299dad9f-11dc-417a-a9a9-3b7a0dcc3dc1",
      "name": "HTTP Request3",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "D6XutmOM59kZ1fXk",
          "name": "Google Analytics account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 리팩토링된 Code in JavaScript2 (컨텍스트 인덱스 동기화 완료)\n\n// 1. 현재 루프 회차에서 처리 중인 데이터(보통 10개)만 가져옵니다.\nconst loopItems = $('Loop Over Items').all(); \n\nconst results = items.map((item, index) => {\n    // 2. [교정] n8n 컨텍스트 내에서는 index(0~9)가 loopItems와 1:1로 정확히 매칭됩니다.\n    // globalIndex 계산식은 가차 없이 삭제합니다.\n    const propertyId = loopItems[index].json.propertyId;\n    const propertyName = loopItems[index].json.propertyName;\n    \n    // 3. HTTP Request 노드 응답 파싱\n    const reports = item.json.reports || [];\n    const rows = (reports[0] && reports[0].rows) ? reports[0].rows : [];\n\n    const historyData = rows.map(row => ({\n        date: [\n            row.dimensionValues[0].value.slice(0, 4),\n            row.dimensionValues[0].value.slice(4, 6),\n            row.dimensionValues[0].value.slice(6, 8)\n        ].join('-'),\n        sessions: parseFloat(row.metricValues[0].value)\n    })).sort((a, b) => a.date.localeCompare(b.date));\n\n    const targetDate = historyData.length > 0 ? historyData[historyData.length - 1].date : \"\";\n\n    return {\n        property_id: propertyId,\n        property_name: propertyName,\n        target_date: targetDate,\n        history_data: historyData\n    };\n});\n\n// 백엔드 전송 규격 포장\nreturn [{\n    json: {\n        batch_size: results.length,\n        properties: results\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        0
      ],
      "id": "87fc6e63-2302-4396-85b4-5e3d1962f6f4",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        416
      ],
      "id": "fd9a78a7-72cf-4585-ad56-99daa571e18e",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "// 1. GA4 응답 결과 전체를 가져옵니다.\nconst inputItems = $input.all();\nconst dataList = [];\n\nfor (const item of inputItems) {\n    const report = item.json.reports && item.json.reports[0];\n    const rows = (report && report.rows) || [];\n    \n    // 2. 프로퍼티 정보 참조 (Context Mapping)\n    let propertyId = \"unknown\";\n    let propertyName = \"unknown\";\n\n    try {\n        // 원본 노드 'Code in JavaScript4'의 데이터를 현재 인덱스에 맞춰 가져옵니다.\n        const source = $(\"Code in JavaScript4\").item.json;\n        propertyId = source.propertyId || \"unknown\";\n        propertyName = source.propertyName || \"unknown\";\n    } catch (e) {\n        console.error(\"Context mapping failed:\", e);\n    }\n\n    const channelMap = {};\n\n    // 3. 데이터를 채널별로 그룹화 (백엔드가 기대하는 구조)\n    rows.forEach(row => {\n        const dateStr = [\n            row.dimensionValues[0].value.slice(0, 4),\n            row.dimensionValues[0].value.slice(4, 6),\n            row.dimensionValues[0].value.slice(6, 8)\n        ].join('-');\n        \n        const channel = row.dimensionValues[1].value;\n        const sessions = parseFloat(row.metricValues[0].value);\n        \n        if (!channelMap[channel]) channelMap[channel] = [];\n        \n        channelMap[channel].push({\n            date: dateStr,\n            sessions: sessions\n        });\n    });\n\n    // 4. 마지막 날짜 추출\n    const targetDate = rows.length > 0 ? [\n        rows[rows.length - 1].dimensionValues[0].value.slice(0, 4),\n        rows[rows.length - 1].dimensionValues[0].value.slice(4, 6),\n        rows[rows.length - 1].dimensionValues[0].value.slice(6, 8)\n    ].join('-') : \"\";\n\n    // [중요] 백엔드 필수 필드명인 'grouped_channels'로 데이터 포장\n    dataList.push({\n        property_id: propertyId,\n        property_name: propertyName,\n        target_date: targetDate,\n        grouped_channels: channelMap \n    });\n}\n\n// 5. 전체 배치 포장\nreturn [{\n    json: {\n        total_count: dataList.length,\n        data: dataList\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        416
      ],
      "id": "cfa79d17-bae1-4106-b953-70c9b4162d8b",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "// JS Node 1: 이상 징후 필터링 및 평탄화(Flattening)\nconst allBatches = items; // 9개의 배치 묶음\nconst anomalyProperties = [];\n\nallBatches.forEach(batch => {\n    const results = batch.json.results || [];\n    results.forEach(res => {\n        if (res.is_anomaly === true) {\n            anomalyProperties.push({\n                json: {\n                    propertyId: res.property_id,\n                    propertyName: res.property_name\n                }\n            });\n        }\n    });\n});\n\nreturn anomalyProperties;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        416
      ],
      "id": "ce84cb6a-7fef-4b2b-80c2-2ad906ecab9d",
      "name": "Code in JavaScript4",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://analyticsdata.googleapis.com/v1beta/properties/{{ $json.propertyId }}:batchRunReports",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAnalyticsOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"requests\": [\n    {\n      \"dimensions\": [\n        { \"name\": \"date\" },\n        { \"name\": \"sessionDefaultChannelGroup\" }\n      ],\n      \"metrics\": [\n        { \"name\": \"sessions\" }\n      ],\n      \"dateRanges\": [\n        { \"startDate\": \"30daysAgo\", \"endDate\": \"yesterday\" }\n      ],\n      \"orderBys\": [\n        {\n          \"dimension\": { \"dimensionName\": \"date\" },\n          \"desc\": false\n        }\n      ],\n      \"keepEmptyRows\": true\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        416
      ],
      "id": "404d4cfa-07e4-4985-83ec-194ff84fd090",
      "name": "HTTP Request4",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "D6XutmOM59kZ1fXk",
          "name": "Google Analytics account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://34.172.65.42:8000/api/v1/update-channels",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1536,
        416
      ],
      "id": "2786ba02-fb58-4e87-8c83-79d4bd4ead78",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "jsCode": "// 1. 타겟 계정 ID 및 제외 설정\nconst targetAccountId = \"101423321\";\nconst excludedProperties = [\n    \"properties/338476357\", \"properties/405383368\", \"properties/396589406\", \n    \"properties/389068544\", \"properties/396587111\", \"properties/396596928\",\n    \"properties/396611752\", \"properties/399792463\", \"properties/404766492\", \n    \"properties/404770191\", \"properties/404777182\", \"properties/404783166\",\n    \"properties/405913800\", \"properties/405921879\", \"properties/244753299\", \n    \"properties/290653701\", \"properties/357136492\", \"properties/433447824\",\n    \"properties/359782962\", \"properties/441817328\", \"properties/429284171\", \n    \"properties/436477471\", \"properties/486365237\", \"properties/486431162\",\n    \"properties/489666261\", \"properties/493901606\", \"properties/510907920\", \n    \"properties/517283074\", \"properties/492787484\"\n];\n\nconst results = [];\nconst summaries = items[0].json.accountSummaries;\n\nfor (const accountSummary of summaries) {\n  // 계정 ID 추출 (형식: accounts/101423321)\n  const currentAccountId = accountSummary.account.split('/')[1];\n\n  // 필터 조건 1: 지정된 계정 ID가 아니면 이 계정의 모든 프로퍼티 무시\n  if (currentAccountId !== targetAccountId) continue;\n\n  if (accountSummary.propertySummaries) {\n    for (const property of accountSummary.propertySummaries) {\n      const propertyPath = property.property; // \"properties/XXXXX\"\n      const displayName = property.displayName;\n\n      // 필터 조건 2: 제외 리스트에 포함되는가?\n      if (excludedProperties.includes(propertyPath)) continue;\n\n      // 필터 조건 3: 'Subproperty' 키워드 포함 여부 (대소문자 무시)\n      if (displayName.toLowerCase().includes('subproperty')) continue;\n\n      results.push({\n        json: {\n          accountId: currentAccountId,\n          propertyId: propertyPath.split('/')[1],\n          propertyName: displayName\n        }\n      });\n    }\n  }\n}\n\nreturn results;\n\n\nTest\nreturn [\n  {\n    json: {\n      \"accountId\": \"101423321\",\n      \"propertyId\": \"290646981\",\n      \"propertyName\": \"LGE AU\"\n    }\n  }\n];\n\n\n// GA4 프로퍼티 테스트 베치 (총 23개 법인)\n// const testProperties = [\n//   { \"accountId\": \"101423321\", \"propertyId\": \"290644012\", \"propertyName\": \"LGE BR\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"290646981\", \"propertyName\": \"LGE AU\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"290650395\", \"propertyName\": \"LGE UK\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"290659783\", \"propertyName\": \"LGE PL\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"290661377\", \"propertyName\": \"LGE FR\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"290667324\", \"propertyName\": \"LGE RU\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"290671043\", \"propertyName\": \"LGE DE\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"290683280\", \"propertyName\": \"LGE IT\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"290683995\", \"propertyName\": \"LGE SA\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"302899121\", \"propertyName\": \"LGE LT\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"302905598\", \"propertyName\": \"LGE PH\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"302906498\", \"propertyName\": \"LGE LEVANT_EN\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"302908083\", \"propertyName\": \"LGE DK\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"302908472\", \"propertyName\": \"LGE AR\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"302913719\", \"propertyName\": \"LGE CH_FR\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"302913920\", \"propertyName\": \"LGE UZ\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"302915361\", \"propertyName\": \"LGE HR\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"302915849\", \"propertyName\": \"LGE LEVANT_AR\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"302916373\", \"propertyName\": \"LGE UZ_RU\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"302916595\", \"propertyName\": \"LGE CA_EN\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"302916597\", \"propertyName\": \"LGE CL\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"302917585\", \"propertyName\": \"LGE EC\" },\n//   { \"accountId\": \"101423321\", \"propertyId\": \"302917591\", \"propertyName\": \"LGE AFRICA_FR\" }\n// ];\n\n// // n8n 데이터 규격에 맞춰 매핑하여 반환\n// return testProperties.map(prop => ({ json: prop }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "84ce7f60-7c03-4b18-8774-2178e5b733c1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1648,
        0
      ],
      "id": "c4491fd4-5207-4b98-8873-b4c86c29f420",
      "name": "Wait",
      "webhookId": "3e609290-ef9c-4b8b-ae67-eb3a3aeff99f",
      "disabled": true
    },
    {
      "parameters": {
        "content": "Ecommerce generic flow\n\nStep 1 Detection: date + eventCount, eventName filter only.\nStep 2 Diagnosis: date + eventName + eventCount only when anomaly.\n\nFastAPI: /api/v1/analyze/generic",
        "height": 260,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        736
      ],
      "id": "b8405cfb-401c-47bb-9d7f-bdc83a1d5d5b",
      "name": "Sticky Note - Ecommerce Generic"
    },
    {
      "parameters": {
        "jsCode": "// Build ecommerce detection targets from the already-filtered property list.\n// Keep sessions workflow untouched; this branch prepares generic single-metric tasks.\nconst targetEvents = [\"view_item\", \"add_to_cart\", \"begin_checkout\", \"purchase\"];\nconst properties = $('Code in JavaScript').all();\n\nreturn properties.map(item => ({\n  json: {\n    propertyId: item.json.propertyId,\n    propertyName: item.json.propertyName,\n    targetEvents,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        720
      ],
      "id": "6cff4bc2-5f09-4842-90f2-e1cb48da29bb",
      "name": "Ecommerce - Build Detection Properties"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1984,
        720
      ],
      "id": "e011759d-91ad-40da-adeb-2900fe1c14a7",
      "name": "Loop Ecommerce Detection"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://analyticsdata.googleapis.com/v1beta/properties/{{ $json.propertyId }}:batchRunReports",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAnalyticsOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"requests\": [\n    {\n      \"dimensions\": [\n        {\n          \"name\": \"date\"\n        }\n      ],\n      \"metrics\": [\n        {\n          \"name\": \"eventCount\"\n        }\n      ],\n      \"dateRanges\": [\n        {\n          \"startDate\": \"90daysAgo\",\n          \"endDate\": \"yesterday\"\n        }\n      ],\n      \"dimensionFilter\": {\n        \"filter\": {\n          \"fieldName\": \"eventName\",\n          \"inListFilter\": {\n            \"values\": [\n              \"view_item\",\n              \"add_to_cart\",\n              \"begin_checkout\",\n              \"purchase\"\n            ]\n          }\n        }\n      },\n      \"orderBys\": [\n        {\n          \"dimension\": {\n            \"dimensionName\": \"date\"\n          },\n          \"desc\": false\n        }\n      ],\n      \"keepEmptyRows\": true\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2208,
        720
      ],
      "id": "b8aca4af-0e32-49d0-b2e3-0794601825fc",
      "name": "GA4 Ecommerce Detection Report",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "D6XutmOM59kZ1fXk",
          "name": "Google Analytics account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const loopItems = $('Loop Ecommerce Detection').all();\n\nreturn items.map((item, index) => {\n  const source = loopItems[index].json;\n  const reports = item.json.reports || [];\n  const rows = reports[0]?.rows || [];\n\n  const series = rows.map(row => ({\n    date: [\n      row.dimensionValues[0].value.slice(0, 4),\n      row.dimensionValues[0].value.slice(4, 6),\n      row.dimensionValues[0].value.slice(6, 8),\n    ].join('-'),\n    value: parseFloat(row.metricValues[0].value || '0'),\n  })).sort((a, b) => a.date.localeCompare(b.date));\n\n  return {\n    json: {\n      domain: 'ecommerce',\n      mode: 'detection',\n      property_id: source.propertyId,\n      property_name: source.propertyName,\n      metric_name: 'eventCount',\n      dimensions: {},\n      target_date: series.length ? series[series.length - 1].date : undefined,\n      target_events: source.targetEvents,\n      series,\n    }\n  };\n}).filter(item => item.json.series.length >= 2);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        720
      ],
      "id": "3f17c5f1-fa5a-4908-a34e-1afb0847bb51",
      "name": "Prepare Ecommerce Generic Detection Payloads"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://34.172.65.42:8000/api/v1/analyze/generic",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2656,
        720
      ],
      "id": "160bf824-8f46-41c1-a22e-c5ae1de65b6e",
      "name": "POST Ecommerce Generic Detection"
    },
    {
      "parameters": {
        "jsCode": "const anomalyProperties = [];\n\nfor (const item of items) {\n  if (item.json.is_anomaly !== true) continue;\n\n  const result = item.json.result || {};\n  const nextAction = item.json.next_action || {};\n\n  anomalyProperties.push({\n    json: {\n      propertyId: result.property_id || nextAction.property_id,\n      propertyName: result.property_name || result.property_id || nextAction.property_id,\n      metricName: result.metric_name || nextAction.metric_name || 'eventCount',\n      targetEvents: nextAction.target_events || [],\n    }\n  });\n}\n\nreturn anomalyProperties;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        1040
      ],
      "id": "9d85896f-eaab-4151-be75-1344e84ac9fb",
      "name": "Filter Ecommerce Detection Anomalies"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2432,
        1040
      ],
      "id": "82882c37-97a5-4315-985c-2f15c8e2dd8f",
      "name": "Loop Ecommerce Diagnosis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://analyticsdata.googleapis.com/v1beta/properties/{{ $json.propertyId }}:batchRunReports",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAnalyticsOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"requests\": [\n    {\n      \"dimensions\": [\n        {\n          \"name\": \"date\"\n        },\n        {\n          \"name\": \"eventName\"\n        }\n      ],\n      \"metrics\": [\n        {\n          \"name\": \"eventCount\"\n        }\n      ],\n      \"dateRanges\": [\n        {\n          \"startDate\": \"90daysAgo\",\n          \"endDate\": \"yesterday\"\n        }\n      ],\n      \"dimensionFilter\": {\n        \"filter\": {\n          \"fieldName\": \"eventName\",\n          \"inListFilter\": {\n            \"values\": [\n              \"view_item\",\n              \"add_to_cart\",\n              \"begin_checkout\",\n              \"purchase\"\n            ]\n          }\n        }\n      },\n      \"orderBys\": [\n        {\n          \"dimension\": {\n            \"dimensionName\": \"date\"\n          },\n          \"desc\": false\n        },\n        {\n          \"dimension\": {\n            \"dimensionName\": \"eventName\"\n          },\n          \"desc\": false\n        }\n      ],\n      \"keepEmptyRows\": true\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2656,
        1040
      ],
      "id": "240b544a-2020-4c96-b0b4-e692b3a9036b",
      "name": "GA4 Ecommerce Diagnosis Report",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "D6XutmOM59kZ1fXk",
          "name": "Google Analytics account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $('Loop Ecommerce Diagnosis').item.json;\nconst report = items[0].json.reports?.[0] || {};\nconst rows = report.rows || [];\nconst byEvent = {};\n\nfor (const row of rows) {\n  const date = [\n    row.dimensionValues[0].value.slice(0, 4),\n    row.dimensionValues[0].value.slice(4, 6),\n    row.dimensionValues[0].value.slice(6, 8),\n  ].join('-');\n  const eventName = row.dimensionValues[1].value;\n  const value = parseFloat(row.metricValues[0].value || '0');\n\n  if (!byEvent[eventName]) byEvent[eventName] = [];\n  byEvent[eventName].push({ date, value });\n}\n\nreturn Object.entries(byEvent)\n  .map(([eventName, series]) => ({\n    json: {\n      domain: 'ecommerce',\n      mode: 'diagnosis',\n      property_id: source.propertyId,\n      property_name: source.propertyName,\n      metric_name: source.metricName || 'eventCount',\n      dimensions: { eventName },\n      target_date: series.length ? series[series.length - 1].date : undefined,\n      series: series.sort((a, b) => a.date.localeCompare(b.date)),\n    }\n  }))\n  .filter(item => item.json.series.length >= 2);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        1040
      ],
      "id": "97b57084-f6d4-4ea3-9b71-d2f44c7a2151",
      "name": "Prepare Ecommerce Generic Diagnosis Payloads"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://34.172.65.42:8000/api/v1/analyze/generic",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3104,
        1040
      ],
      "id": "b85ebceb-dd1f-4f74-a55c-c6ce48e04a6a",
      "name": "POST Ecommerce Generic Diagnosis"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a report": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ecommerce - Build Detection Properties",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ecommerce - Build Detection Properties": {
      "main": [
        [
          {
            "node": "Loop Ecommerce Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Ecommerce Detection": {
      "main": [
        [
          {
            "node": "Filter Ecommerce Detection Anomalies",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GA4 Ecommerce Detection Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GA4 Ecommerce Detection Report": {
      "main": [
        [
          {
            "node": "Prepare Ecommerce Generic Detection Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Ecommerce Generic Detection Payloads": {
      "main": [
        [
          {
            "node": "POST Ecommerce Generic Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Ecommerce Generic Detection": {
      "main": [
        [
          {
            "node": "Loop Ecommerce Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ecommerce Detection Anomalies": {
      "main": [
        [
          {
            "node": "Loop Ecommerce Diagnosis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Ecommerce Diagnosis": {
      "main": [
        [],
        [
          {
            "node": "GA4 Ecommerce Diagnosis Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GA4 Ecommerce Diagnosis Report": {
      "main": [
        [
          {
            "node": "Prepare Ecommerce Generic Diagnosis Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Ecommerce Generic Diagnosis Payloads": {
      "main": [
        [
          {
            "node": "POST Ecommerce Generic Diagnosis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Ecommerce Generic Diagnosis": {
      "main": [
        [
          {
            "node": "Loop Ecommerce Diagnosis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ee39ae4f-b235-4366-9d15-99c29abd6d48",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc517ac9c6b66a011e99f591c8b5583d53a23f8ab5d8f360316a712b2b227311"
  },
  "id": "5d3873ce-c9b1-427d-86ac-6abdac462cd1",
  "tags": [
    {
      "updatedAt": "2026-04-27T11:07:28.482Z",
      "createdAt": "2026-04-27T11:07:28.482Z",
      "id": "sBzagdyQXk153sCH",
      "name": "Monitoring"
    }
  ]
}